
.r-aside {
  padding-right: 300px; }

.right-side-panel {
  width: 275px;
  padding: 20px;
  padding-bottom: 70px;
  background: #e9edf2;
  position: absolute;
  right: 0px;
  top: 77px;
  height: calc(100% - 77px);
  overflow: hidden; }

/*******************
 Sales overview Chart
*******************/
#sales-overview .ct-point {
  stroke-width: 6px; }

#sales-overview .ct-grid {
  stroke-dasharray: 0px;
  stroke: rgba(120, 130, 140, 0.13); }

#sales-overview .ct-area {
  fill-opacity: 1; }

#sales-overview .ct-series-a .ct-area, #sales-overview .ct-series-a .ct-point {
  fill: #745af2;
  stroke: #745af2; }

#sales-overview .ct-series-b .ct-area, #sales-overview .ct-series-b .ct-point {
  fill: #33d085;
  stroke: #33d085; }

#sales-overview .ct-series-c .ct-area, #sales-overview .ct-series-c .ct-point {
  fill: #e9edf2;
  stroke: #e9edf2; }

.website-visitor .ct-series-a .ct-area {
  fill-opacity: 0.2;
  fill: url(#gradient); }

.website-visitor .ct-series-a .ct-line, .website-visitor .ct-series-a .ct-point {
  stroke: #06d79c;
  stroke-width: 2px; }

.website-visitor .ct-series-b .ct-area {
  fill: #33d085;
  fill-opacity: 0.1; }

.website-visitor .ct-series-b .ct-line, .website-visitor .ct-series-b .ct-point {
  stroke: #33d085;
  stroke-width: 2px; }

.website-visitor .ct-series-a .ct-point, .website-visitor .ct-series-b .ct-point {
  stroke-width: 6px; }

.c3-chart-arcs-title {
  font-size: 26px;
  font-weight: 600;
  color: #67757c;
  font-family: "Montserrat", sans-serif; }

/*******************
 Project of the month
*******************/
.pro-of-month h6 {
  font-weight: 500;
  margin-bottom: 0px; }

/*******************
 This is for responsive dashboard1 element
*******************/
@media (max-width: 1023px) {
  .r-aside {
    padding-right: 25px; }
  .right-side-panel {
    display: none; } }

@media (max-width: 767px) {
  .r-aside {
    padding-right: 15px; }
  #visitor {
    text-align: center; } }
