

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
}


h1.font-weight-bold,
h2.font-weight-bold,
h3.font-weight-bold,
h4.font-weight-bold,
h5.font-weight-bold,
h6.font-weight-bold {
    font-weight: 700 !important;
}

a,
a:hover,
a:focus,
button {
    text-decoration: none !important;
    outline: none !important;
}

.back_top_angle_up {
    text-align: center;
    position: fixed;
    bottom: 15px;
    height: 35px;
    width: 35px;
    background-color: #33d085;
    display: none;
    z-index: 10000;
    border-radius: 3px;
    right: 35px;
    transition: all 0.5s;
}

.back_top_angle_up i {
    color: #fff;
    line-height: 35px;
    font-size: 14px;
    display: block;
}


/*==================
    02.HELPER
====================*/

.bg_overlay_cover_on {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.bg_overlay_gradient {
    background: #101010;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c405a, #101010);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #555e9a, #101010);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


.text_custom {
    color: #33d085;
}

.bg_cover_custom {
    background-color: #33d085;
}

.btn {
    padding: 15px 32px;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.5s;
    letter-spacing: 0.6px;
    color: #fff;
    box-shadow: none !important;
    text-transform: uppercase;
    outline: none !important;
}

.btn_custom {
    border: 1px solid #33d085;
    background-color: #33d085;
}

.btn_custom:hover,
.btn_custom:focus,
.btn_custom:active,
.btn_custom.active,
.btn_custom.focus,
.btn_custom:active,
.btn_custom:focus,
.btn_custom:hover,
.open > .dropdown-toggle.btn_custom {
    color: #f3f3f3;
    background-color: #28e088;
    border-color: #28e088;
}

.btn_outline_custom {
    border: 2px solid #f5f5f5;
}

.btn_outline_custom:hover,
.btn_outline_custom:focus,
.btn_outline_custom:active,
.btn_outline_custom.active,
.btn_outline_custom.focus,
.btn_outline_custom:active,
.btn_outline_custom:focus,
.btn_outline_custom:hover,
.open > .dropdown-toggle.btn_outline_custom {
    color:#33d085;
    background-color: #fff;
    border-color: #fff;
}

.full_height_100vh {
    height: 100vh;
}

.vertical_content_manage {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.section_all {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.all_section_heading {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 28px;
}

.all_section_heading_details {
    max-width: 600px;
}

.section_heading i {
    font-size: 22px;
}

.btn_small {
    padding: 10px 14px;
}

.navbar-brand img {
    height: 34px;
}

/*======================
    03  NAVBAR
=======================*/

.custom_nav_menu {
    padding: 15px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
}

.custom_nav_menu .social_menu .list-inline-item:not(:last-child) {
    margin-right: 8px;
}

.custom_nav_menu .navbar-nav li a {
    color: #fff;
    font-size: 15px;
    background-color: transparent !important;
    padding: 15px 0;
    margin: 0 7px;
    transition: all 0.4s;
}

.navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.stickyadd .navbar-nav {
    margin-top: 0px;
}

.stickyadd.custom_nav_menu .navbar-nav li a {
    color: rgba(0, 0, 0, 0.75);
}

.custom_nav_menu .navbar-brand.logo img {
    height: 34px;
}

.stickyadd.custom_nav_menu {
    margin-top: 0px;
    padding: 8px 0px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

.custom_nav_menu .navbar-nav li.active a,
.custom_nav_menu .navbar-nav li a:hover,
.custom_nav_menu .navbar-nav li a:active {
    color: #33d085 !important;
}

.navbar-toggle {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.custom_nav_menu .btn-custom {
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.logo .logo-light {
    display: inline-block;
}

.stickyadd .logo .logo-dark {
    display: inline-block;
}

.stickyadd .logo .logo-light {
    display: none;
}

.logo .logo-dark {
    display: none;
}

/*================
    04.HOME
==================*/

.bg_home_lan_img {
    background-image: url(../images/home-bg-3.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
}

.home_small_budget {
    background: #33d085;
    padding: 4px 10px;
    border-radius: 30px;
    font-size: 12px;
}

.home_big_budget {
    padding: 8px 12px 8px 5px;
    background-color: rgba(39, 40, 45, 0.55);
    border-radius: 30px;
    font-size: 12px;
}

.home_title {
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
    max-width: 700px;
}

.home_subtitle {
    color: #dadada;
    max-width: 600px;
    line-height: 1.8;
}

.home_table_cell_center {
    display: table-cell;
    vertical-align: middle;
}

.home_table_cell {
    display: table;
    width: 100%;
    height: 100%;
}

.full_height_100vh_home {
    height: 100vh;
}


/*-------------------
    HOME - 3
--------------------*/

.up-index {
    z-index: 2;
}


/*------------------
    HOME DEMO -5
------------------*/

.bg_clip_home {
    clip-path: polygon(0 0, 100% 0, 100% 88%, 25% 100%, 0 88%);
}

/*------------------
    HOME DEMO -9
------------------*/

.bg_gradient_lan {
    background: #101010;
    background: linear-gradient(to right, #3c405a, #101010);
}

/*====================
  05.  FEATURES
====================*/

.features_box_title_top {
    max-width: 400px;
    line-height: 1.4;
}

.features_box_subtitle {
    line-height: 1.8;
}

.features_border_top {
    height: 4px;
    background: #33d085;
    width: 60px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.features_video .features_video_icon {
    height: 46px;
    width: 46px;
    background-color: #33d085;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    font-size: 23px;
}

.features_video span {
    font-size: 14px;
    position: relative;
    top: -3px;
    color: #000 !important;
}

/*====================
   06. SERVICES
=====================*/

.services_read_more i {
    font-size: 26px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #e7e7e7;
    display: inline-block;
}


/*==========================
    07. CTA 
===========================*/

.bg_video_img_cover {
    background-image: url(../images/bg_cta_section.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.all_section_heading_details {
    color: #dadada;
    line-height: 1.8;
}

.cta_max_width {
    max-width: 635px;
}


/*=====================
   08. TESTIMONIAL
======================*/

.client_box_img img {
    max-width: 80px;
}

.clients_name h5 {
    font-size: 16px;
}

.business_client_box p {
    line-height: 1.8;
    max-width: 600px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 7px;
    margin: 20px 5px;
    border: 1px solid #33d085;
    background-color: #33d085;
    opacity: 0.4;
}

/*====================
  09. OUR TEAM
=====================*/

.team_box_all {
    border: 1px solid #e0e0e0;
}

.team_box_all .team_img img {
    max-width: 90px;
}

.team_social ul li a {
    color: #fff;
    border: 1px solid #fff;
    height: 35px;
    width: 35px;
    display: inline-block;
    line-height: 33px;
    border-radius: 50%;
    transition: all 0.5s;
    text-align: center;
}

.bg_fb_color {
    background-color: #3b5998;
}

.bg_google_color {
    background-color: #D34338;
}

.bg_twitter_color {
    background-color: #1da1f2;
}

.bg_pinterest_color {
    background-color: #BD081B;
}

/*====================
  10. PRICING PLAN
=====================*/

.pricing_plan_box {
    padding: 40px;
    border-radius: 10px
}

.list_price_features {
    padding: 20px 25px;
}


.pricing_devider {
    height: 3px;
    width: 70px;
    display: block;
    background: #6c757d;
}

.price_tag_heading span {
    font-size: 14px;
}

.icon_success_color {
    color: #33d085;
    margin-right: 12px;
}

.pricing_plan_box.active {
    background: #33d085;
}

.pricing_plan_box.active {
    position: relative;
    overflow: hidden;
    border-color: #ff546c;
}

.pricing_plan_box.active i {
    color: #fff;
    margin-right: 12px;
}

.pricing_plan_box.active .lable h6 {
    color: #33d085;
    font-size: 10px;
    font-weight: bold;
}

.pricing_plan_box.active .lable {
    background: #fff;
    padding: 8px 0;
    text-align: center;
    width: 200px;
    position: absolute;
    top: 22px;
    right: -60px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*===============
    11.FAQ
=================*/

.faq_contant {
    border-radius: 6px;
}

/*=====================
    12. CONTACT US
======================*/

.business_form_custom .form-control {
    height: 50px;
    font-size: 16px;
    border-color: #eae7e7;
}

textarea.form-control {
    height: auto !important;
}

.business_form_custom .form-control:focus {
    border-color: #33d085 !important;
    box-shadow: none;
    outline: 0;
}

.business_form_custom {
    box-shadow: 0 0 35px 1px #efefef;
    padding: 40px;
}

.contact_icon {
    font-size: 30px;
    background: rgba(51, 208, 133, 0.1);
    height: 60px;
    width: 60px;
    display: inline-block;
    text-align: center;
    line-height: 64px;
    border-radius: 50px;
}


/*==================
     13.FOOTER
====================*/

.footer_detail {
    background-color: #242424;
}

.subcribe-newslatter input {
    padding: 15px 20px;
    width: 100%;
    font-size: 17px;
    color: #fff !important;
    border: none;
    outline: none !important;
    padding-right: 150px;
    padding-left: 30px;
    border-radius: 30px;
    background-color: rgba(241, 241, 241, 0.05);
}

.subcribe-newslatter button {
    position: absolute;
    top: 4px;
    right: 5px;
    outline: none !important;
    border-radius: 30px;
    font-size: 17px;
    padding: 9px 30px;
}

.subcribe-newslatter form {
    max-width: 550px;
}

.footer_about p {
    max-width: 680px;
    color: rgba(255, 255, 255, 0.5);
}

.footer_detail ul.footer_menu_list li a:hover {
    color: #fff;
    transition: all 0.3s;
}

.footer_detail ul.footer_menu_list li a {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 4px 0;
    text-decoration: none !important;
}

.footer_detail .footer_logo {
    height: 34px;
}

.footer_detail .copy-rights {
    line-height: 43px;
    color: rgba(255, 255, 255, 0.5);
}

.footer_detail .fot_bor {
    height: 2px;
    background: #2f2f2f;
    width: 100%;
}


/*=====================
    14. RESPONSIVE
=======================*/

@media (max-width: 768px) {
    .custom_nav_menu {
        margin-top: 0px;
        padding: 10px 0px !important;
        background-color: #fff !important;
    }
    .vertical_content_manage {
        display: inherit;
    }
    .home_title {
        font-size: 32px;
    }
    .custom_nav_menu .navbar-nav li a {
        margin: 0 0px;
        padding: 6px 0;
        color: rgba(0, 0, 0, 0.55) !important;
    }
    .custom_nav_menu .navbar-nav li.active a {
        color: #33d085 !important;
    }
    .custom_nav_menu>.container {
        width: 90%;
    }
    .custom_nav_menu .logo .logo-dark {
        display: inline-block;
    }
    .custom_nav_menu .logo .logo-light {
        display: none;
    }
    .custom_nav_menu .navbar-brand.logo img {
        height: 26px;
    }
    .navbar-nav {
        margin-top: 0px;
    }
    .navbar-toggler {
        font-size: 28px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #000;
    }
    .h-100vh,
    .full_height_100vh_home {
        height: auto;
    }

    .full_height_100vh_home{
        padding: 125px 0px;
    }
    .pricing_plan_box {
        padding: 18px;
    }
}


.learning-icon
{
	max-width:60px;
}


.gray-bg {
    background: #f6f6f6;
}
.pb-70 {
    padding-bottom: 70px;
}

.pt-95 {
    padding-top: 95px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-10 {
    margin-bottom: 10px;
}
.contact-info-text .section-title-heading h1 {
    font-size: 30px;
    color: #002147;
    font-weight: 700;
    line-height: 30px;	
}
.contact-info-text .section-title p {
    padding-right: 94px;
}
.section-title-para p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: normal;

    color: #8a8a8a;	
}
.contact-info ul{
   List-style-type:none;
   padding:0px;
   margin:0px;
}

.contact-info ul li {
    margin-bottom: 30px;
}
.contact-icon {
    float: left;
}
.contact-icon i {
    border: 0;
    color: #33d085;;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
	    font-weight: 700;
    font-size: 16px;
    background: rgba(51, 208, 133, 0.1);
}
.contact-text {
    overflow: hidden;
    padding-left: 12px;
}
.contact-text h5 {
    font-weight:700;
    margin-bottom: 8px;
    line-height: 1;
    font-size: 18px;
    color: #555555;
}
.contact-text span {
    font-size: 14px;
    color: #8a8a8a;
}
.mb-25 {
    margin-bottom: 25px;
}
.events-details-form .events-form-title h2 {
    font-size: 30px;
    font-weight: 700;
    color: #002147;
    line-height: 1;
    margin-bottom: 8px;
}
.faq-area-form form input {
    width: 100%;
    padding: 0;
    padding-left: 20px;
    background: 0;
    border: 1px solid #e9e9e9;
    height: 50px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 30px;
}
.events-details-form form input {
    position: relative;
    transition: .4s;
}
.events-details-form form .events-form-btn button {
    color: #f3f3f3;
    background-color: #28e088;
    border:2px solid transparent;
	transition:0.3s;
    	
}
.events-details-form form .events-form-btn button:hover {
    color: #28e088 ;
    background-color:#f3f3f3;
    border:2px solid  #28e088;
	transition:0.3s;
}

.faq-area-form form textarea {
    width: 100%;
    padding: 0;
    padding-left: 20px;
    background: 0;
    border: 1px solid #e9e9e9;
    height: 113px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 30px;
    padding-top: 13px;
    resize: none;
}

.slider-content-breadcrumb h1 {
    font-size:50px;
	color: #fff;
	font-weight:700;
}
.contactslider.slider-area
{
	padding: 36px 0px;
	z-index:1;
    background-image: url(../images/home-bg-3.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
}
.contactslider .slider-content nav ol {
    background: 0;
    padding: 0;
}
.contactslider .slider-content nav ol li {
    font-size: 20px;
    color:#28e088;
    font-weight: 500;

}
.contactslider .slider-content nav ol li.breadcrumb-item a {
    color:#28e088;
}
.contactslider .slider-content nav ol li.breadcrumb-item.active {
    color: #fff;
}
.contactslider .slider-content nav ol .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    color: #6c757d;
    content: "";
    height: 10px;
    width: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    vertical-align: middle;
    margin-left:12px;
    margin-right:15px;
}
.contactslider .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    content: "/";
}
.contactslider.slider-area:after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.68);
    z-index: -1;
}


.contactnav {
    position: static;
}

.contactnav.stickyadd {
    position:fixed;
}
.contactnav .navbar-nav li a {
    color: rgba(0, 0, 0, 0.75);
}
h3.navbar-brand.logo.text_custom {
    margin-bottom: 0px;
}

.loginsection
{
	width:100%;
	height:100vh;
	float:left;
    flex-wrap: wrap;
    display: flex;
    align-items: center;	

	background:#eaeaea;


}

.loginsection .loginsection-in
{
	padding:0px;
	width:100%;
	float:left;
    box-shadow: 0px 10px 10px rgba(56, 56, 56, 0.57);
}
.loginsection .loginsection-in .login-img
{
	width:100%;
	float:left;
	padding:0px;

    height: 100%;
  position:relative;   
  
}
.loginsection .loginsection-in .login-textab
{
	width:100%;
	float:left;
	position:absolute;
    top: 50%;
    transform: translate(0%,-50%);
	    z-index: 1;
		padding: 0px 20px;
}


.loginsection .loginsection-in .login-img:after
{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.7);


}

.loginsection .loginsection-in .login-text
{
	width:100%;
	float:left;
	background:#fff;
    padding: 25px 20px;
}
.loginsection .loginsection-in .login-text p
 {
	 font-size:14px;
    color: #959595;
    padding: 0px 0px 0px 12px;
    font-style: italic;	
}
.login-text input {
    border-radius: 0px;
}
.login-text input::placeholder {
    font-size:14px;
}
.login-text .form-control-lg {
    font-size: 14px!important;
}
.login-img img
{
	max-width:100%;
}

.login-img img
{
    max-width: 100%;
    width: 100%;
    height: 100%;
    float: left;
	object-fit: cover;
}
.login-text h1 {
    padding-left: 12px;
    font-weight: 600;
    font-size: 28px;
}
.login-textab h3 {
    font-weight: 800;
    color: #fff;
}
.login-textab p {
    color:#fff;
    padding:20px 0px;
}
.login-textab .login-home {
    padding: 0px;
}
.login-textab .login-home a i {
    color: #fff!important;
	font-size: 18px;

}

.login-textab .login-home a {
    padding: 7px 20px;
    border-radius: 6px;
    background: #28e088;
    border: 2px solid #28e088;
	transition:0.3s;
}
.login-textab .login-home a:hover {
    background:transparent;
	color:#fff;
    border: 2px solid #fff;
	transition:0.3s;
}
.loginbtn {
    padding: 6px 24px;
    background: #28e088;
    border: 2px solid #28e088;
    font-size: 14px;
	transition:0.3s;
}
.loginbtn:hover {

    background:#fff;
    border: 2px solid #28e088;
    color:#28e088;
	transition:0.3s;
}

.login-text a
{
	color:#28e088;
}
.logincolor
{
    background: #eaeaea;
}
.boxshadow label:before
{
	box-shadow:none!important;
} 

.mobile-center {
    display:none;
}

/*today start*/
.sp-two {
    padding: 120px 0 90px;
}

.sec-title {
    position: relative;
    margin-bottom: 50px;
    margin-top: -5px;
}
.sec-title .big-title {
    font-size: 65px;
    font-weight: 700;
    color: #edeff2;
    text-transform: capitalize;
    position: absolute;
    width: 100%;
    bottom: -11px;
    z-index: -1;
}
.sec-title h1 {
    font-size: 42px;
    color: #222;
    font-weight: 700;
    line-height: 1.1em;
    text-transform: capitalize;
}
.text {
    font-size: 16px;
    color: #222;
}
.what-we-do .text p {
    line-height: 29px;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mt-40 {
    margin-top: 40px !important;
}
.btn-style-one {
    position: relative;
    padding: 11px 40px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background: #33d085;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #33d085;

}
.stacked-image-carousel {
    position: relative;
    margin-left: 40px;
}
.stacked-image-carousel:before {
    position: absolute;
    content: '';
    width: 100%;
    top: 0;
    background: url(../images/shape-two.png) no-repeat center;
    left: 0;
    bottom: -120px;
}
.stacked-image-carousel .slides {
    position: relative;
    width: 100%;
    max-width: 330px;
    height: 410px;
    margin-bottom: 160px;
}
.stacked-image-carousel .slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 0;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
}
.image img {
    display: inline-block;
    max-width: 100%;
}
.our-mission {
    position: relative;
    margin-bottom: -170px;
}
.mission-block .inner-box {
    position: relative;
    padding: 40px 30px 39px;
    padding-left: 75px;
    border: 1px solid #e5e5e5;
    margin-bottom: 30px;
    background-color: #fff;
}
.mission-block .count {
    position: absolute;
    left: 40px;
    top:38px;
    font-size: 20px;

    color: #33d085;
    font-weight: 600;
}
.mission-block h4 {
    font-size: 20px;

    color: #222;
    font-weight: 600;
    margin-bottom: 5px;
}
.mission-block h4 a {
    color: #222;
}
.list-style-six {
    position: relative;
    margin-top: 15px;
    list-style-type: none;
    padding: 0px;	
}
.list-style-six li {
    position: relative;
    color: #848484;
    font-size: 16px;
    font-weight: 300;
    padding-left: 25px;
    margin-bottom: 6px;
}
.list-style-six li:before {
    position: absolute;
    content: '';
    left: 0px;
    top:6px;
    height: 12px;
    width: 12px;
    border: 2px solid #33d085;
    border-radius: 50%;
}
.pt-145 {
    padding-top: 145px;
}

.black-bg-3 {
    background-color: #212733 !important;
}
.funfact-section-two .fact-counter {
    padding: 30px 0;
}

.fact-counter {
    position: relative;
    overflow: hidden;
    color: #ffffff;
}
.funfact-section-two .fact-counter .column {
    border: 0px;
    padding: 0 15px;
}
.fact-counter .item {
    color: #222;
    width: 100%;
}
.funfact-section-two .fact-counter .item .inner-box {
    padding-left: 80px;
    text-align: left;
}
.funfact-section-two .fact-counter .item .inner-box .icon-box {
    position: absolute;
    left: 0;
}
.fact-counter .item .inner-box .icon-box i {
    color: #ff214f;
}
.fact-counter .count-outer {
    margin-top: 10px;
    color: #ffffff;
    position: relative;
    font-size: 42px;
    font-weight: 500;
}
.fact-counter .count-outer .count-text {
    margin-bottom: 5px;
    display: block;
}
.flaticon-computer-2:before {
    content: "\f176";
}
.what-we-do-three {
    position: relative;
}
.sp-two {
    padding: 120px 0 90px;
}
.grey-bg {
    background-color: #edeff2 !important;
}
.what-we-do-three:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url(../images/map2.png) no-repeat center;
    left: 0;
    bottom: 0;
}
.sec-title.deep .big-title {
    color: #d9dbde;
}
.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}
.owl-stage 
 {
    transform: translate3d(-1200px, 0px, 0px);
    transition: all 0.7s ease 0s;
    width: 4800px;
}
.service-block-eight .inner-box {
    position: relative;
    padding: 45px;
    background: #fff;
    border: 1px solid #e5e9f2;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
	    z-index: 1;
}
.service-block-eight .hvr-bounce-to-bottom:before {
    background-color: #e6202d;
}
.hvr-bounce-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.service-block-eight .inner-box .icon-box {
    position: relative;
    color: #e6202d;
    line-height: 50px;
    font-size: 52px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
.service-block-eight .inner-box h4 {
    position: relative;
    font-size: 20px;
    color: #222222;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
.service-block-eight .inner-box h4 a {
    color: #222;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}



.service-block-eight {
    position: relative;
    margin-bottom: 30px;
    z-index: 99;
}
.sp-two {
    padding: 120px 0 90px;
}
.sec-title.centered {
    text-align: center;
}
.sec-title.style-two {
    margin-top: 20px;
}
.sec-title {
    position: relative;
    margin-bottom: 50px;
    margin-top: -5px;
}
.team-block-one .inner-box {
    position: relative;
}
.team-block-one .inner-box .image {
    position: relative;
    overflow: hidden;
}
.team-block-one .inner-box .overlay-box {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-align: center;
    background: rgba(0, 0, 0, 0.50);
    opacity: 0;
    -webkit-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    transform: translate(0, -30px);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.team-block-one .inner-box .overlay-box .social-links {
    position: absolute;
    left: 0px;
    bottom: 40px;
    width: 100%;
}
.team-block-one .inner-box .overlay-box .social-links li {
    position: relative;
    display: inline-block;
    margin: 0px 4px;
    line-height: 24px;
}
.team-block-one .inner-box .overlay-box .social-links li a {
    position: relative;
    color: #848484;
    background: #fff;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.team-block-one .inner-box .lower-box {
    position: relative;
    padding-top: 32px;
    text-align: center;
}
.team-block-one .inner-box .lower-box h4 {
    position: relative;
    font-size: 20px;
    font-weight: 600;
}
.team-block-one .inner-box .lower-box .designation {
    position: relative;
    color: #9fa2a6;
    font-size: 16px;
}
.team-block-one .inner-box:hover .overlay-box {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
}
.team-block-one .inner-box .overlay-box .social-links li a:hover {
    background:#33d085;
    color: #fff;
}

.client-logo .client-logo-area {
    position: relative;
    padding: 35px 0;
}

.stacked-image-carousel .slides .slide:nth-child(3) {
    position: absolute;
    left: 200px;
    top: 130px;
    z-index: 2;
}
.stacked-image-carousel .slide.active, .stacked-image-carousel .slides .slide:nth-child(3).active {
    left: 200px !important;
    top: 130px !important;
    z-index: 5;
    -webkit-box-shadow: 4px 13px 50px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 4px 13px 50px 2px rgba(0, 0, 0, 0.15);
}
.stacked-image-carousel .slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 0;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
}
.stacked-image-carousel .slides {
    position: relative;
    width: 100%;
    max-width: 330px;
    height: 410px;
    margin-bottom: 160px;
}
.stacked-image-carousel .slides .slide:nth-child(1).active+.slide {
    left: 0px !important;
    top: 0px !important;
}

.indexprojectdetail{
    padding-top: 170px;
    background-color: #212733 !important;
}

h2.timer.count-title.count-number {
    color: #fff;
}
.indexprojectdetail i {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color:#33d085;
}
.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}
.indexprojectdetail p {

    font-size: 20px;
    color: #fff;
}
.lower-box h4 a
{
	color:#000;
}
.lower-box h4 a:hover
{
	color:#000;
}
 .card {
    border-radius: 0px;
    overflow: hidden;
    background-color: #f5f5f5;
}
.primary-bg {
    background: #002147;
}
.pb-65 {
    padding-bottom: 65px;
}

.pt-90 {
    padding-top: 90px;
}

.aboutflaticon
{
	position:relative;
	z-index:1;
}

.aboutflaticon:before 
{
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    height:0%;
    width: 100%;
    right: 0;
    background: #33d085;
		transition:0.3s;
		z-index:-1;
}
.aboutflaticon:hover:before 
{
    height:100%;
	transition:0.3s;
	cursor:pointer!important;

}
.aboutflaticon:hover h2
{
    color:#fff;
	cursor:pointer!important;

}

.aboutflaticon:hover
{

	cursor:pointer!important;

}

.aboutflaticon:hover a ,.aboutflaticon:hover p
{
    color:#fff;
	cursor:pointer!important;

}
.aboutflaticon h2 
{
    color:#000;


}
.aboutflaticon p 
{
    color:#6c757d;


}
.aboutflaticon  a
{
    color:#33d085;


}

.aboutflaticon img {
    max-width: 60px;
	    margin: auto;
}
.indexprojectdetail .wrapper {
    padding: 29px 0px;
}
.loginmodal .modal-header button.close {
    margin-left: 0px!important;
}

.loginmodal .modal-header i {
    font-size: 25px;
    margin: auto;
    border: 2px solid #000;
    padding: 15px 20px;
    border-radius: 50%;
}
.loginmodal .modal-body input {
    padding: 15px 20px;
    width: 100%;
    font-size: 17px;
    color:#989898 !important;
    border: 2px solid #e0e0e0!important;
    outline: none !important;
    padding-right: 150px;
    padding-left: 30px;
    border-radius: 30px;
    background-color: rgba(241, 241, 241, 0.05);
}

.loginmodal .modal-body button {
    position: absolute;
    top: 6px;
    right: 5px;
    outline: none !important;
    border-radius: 30px;
    font-size: 14px;
    padding: 12px 14px;
}

.loginmodal .modal-footer button.btn.btn-secondary {
    padding: 6px 15px;
    border-radius: 7px;
}



.loginmodal .modal-header button.close {
    position: absolute;
    right: 0px;
    top: -2px;
    background: #33d085;
    width: 30px;
    opacity: 1;
    height: 30px;
    padding: 0px 0px!important;
    line-height: 0px;
    border-radius: 50%;
    color: #fff;
    text-shadow: none;
}

.faq-mainsection .faqcollapse
{
	width:100%;
	float:left;
	
}

.faq-mainsection 
{
	background:#f9f9f9;
}

.faqpadding {
    padding: 0px;
    background: #fff;

}


.faqpadding .faqicon
{
    color: #fff;	
    padding: 15px;
    background: #33d085;
}

.faqpadding a
{
    color: #000;
    padding-left: 13px;
}
.faq-mainsection .card {

    margin-bottom: 10px;
}

.faq-mainsection .card-body {
    color: #717171;
    background: #fff;
    border-top: 1px solid #ddd;
	
}
.faq-mainsection .faqrighttext {
    width: 100%;
    float: left;
    background: #000;
    padding: 30px;
}

.faq-mainsection .faqrighttext h2 {
    color:#fff;
	padding:px 0px 20px 0px;
}
.faq-mainsection .faqrighttext i {
    color: #fff;
    background: #33d085;
    padding: 14px 20px;
    border-radius: 50%;
    font-size: 25px;
}
.faq-mainsection .faqrighttext p {
    color:#fff;
	padding: 20px 0px 0px 0px;
}
.faq-mainsection .faqpadding a:after {
    content: "\f106";
    position: absolute;
    top:4px;
    right:0px;
	font-family:fontAwesome;
	color:#33d085;
    font-size: 26px;
    transform: translate(-50%,0%);
}
.faq-mainsection .faqpadding a.collapsed:after {
    content: "\f107";
    position: absolute;
	color:#33d085;	
    top:4px;
	font-family:fontAwesome;	
    right: 0px;
    transform: translate(-50%,0%);
}

.faq-mainsection .faqrighttext a {
    /* background: #fff; */
    display: inline-block;
    border-radius: 50%;

	transition:0.3s;
    border: 3px solid transparent;
    padding: 6px;
}
.faq-mainsection .faqrighttext  a:hover {
    border: 3px solid #fff;
	transition:0.3s;
    cursor:pointer;	
}
.login-text .facebookgoogle
{
	list-style-type:none;
	padding:0px;
    margin: 0px 0px 20px;

}

p.orroundedlog {
    border: 1px solid #b7b7b7;
    border-radius: 50%;
    padding: 0px 4px !important;
    color: #b7b7b7;
    margin:4px  0px;
    display: inline-block!important;
    position: relative;
	    line-height: 20px;

}
p.orroundedlog:after {
    position: absolute;
    content: "";
    top: 10px;
    right: -18px;
    width: 12px;
    height: 2px;
    background:#b7b7b7;
}
p.orroundedlog:before {
    position: absolute;
    content: "";
    bottom: 10px;
    left: -18px;
    width: 12px;
    height: 2px;
    background: #b7b7b7;
}
.login-text .facebookgoogle .loginBtn {
  box-sizing: border-box;
  position: relative;

  margin: 0.2em;
    padding:5px 15px 5px 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.login-text .facebookgoogle .loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.login-text .facebookgoogle .loginBtn:focus {
  outline: none;
}
.login-text .facebookgoogle .loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


.login-text .facebookgoogle .loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);

  text-shadow: 0 -1px 0 #354C8C;
}
.login-text .facebookgoogle .loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('../images/icon_facebook.png') 6px 6px no-repeat;
}
.login-text .facebookgoogle .loginBtn--facebook:hover,
.login-text .facebookgoogle .loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.login-text .facebookgoogle .loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.login-text .facebookgoogle .loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('../images/icon_google.png') 6px 6px no-repeat;
}
.login-text .facebookgoogle .loginBtn--google:hover,
.login-text .facebookgoogle .loginBtn--google:focus {
  background: #E74B37;
}
.pricing-section
{
	width:100%;

}


.pricing-section .list_price_features p {
    font-size:14px;
	text-transform: capitalize;
}

.signupbgcolor
{
    background: #eaeaea;	
}
.signupsection {
    padding:60px 0px;

    width: 100%;
    float: left;
}
.signupsection .signupinput
{
    padding:0px;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.signupsection .signupinput .signmrtp
{
    margin:0px 0px 20px 0px;
}


.signupsection .signupinput .signup {
    background: #33d085;
    border: 2px solid #33d085;
    color: #fff;
    padding: 11px 23px;
	transition:0.3s;
}
.signupsection .signupinput .signup:hover {
	transition:0.3s;
    border:2px solid #33d085;
    color:#33d085;
    background:#fff;
    transition:0.3s;	
}

.signupsection .signupinput h6 a{

    color:#33d085;
	
}
	
.signupsection .signupinput input{
	 border-radius:0px;
     font-size:14px;	 
}
.signupsection .signup-text .fontsizeselection {
    font-size: 14px;
}
.signupsection .signupinput input:focus{
	 box-shadow:none;	
}
.privacy-policy-section
{
	width:100%;
}

.privacy-policy-section .privacy-policy-text
{
	width:100%;
	float:left;
}
.privacy-policy-section .privacy-policy-text h2 {
    font-size: 34px;
    font-weight: 700;
    margin: 0px 0px 4px 0px;
}
.privacy-policy-section .privacy-policy-text p {
    font-size: 16px;
    color: #6c757d;
}
.privacy-policy-section .privacy-policy-text h4 {
    color: #666;
    font-size: 18px;
}

.privacy-policy-section .privacy-policy-text ul  li
{
    color: #6c757d;
}
.privacy-policy-section .privacy-policy-text h3 {
    font-size: 30px;
    font-weight: 600;
}

/* .signupsection-in img */
/* { */
    /* max-width: 100%; */
    /* width: 100%; */
    /* height: 100%; */
    /* float: left; */
/* } */

.imgsignup
{
    width: 100%;
    float: left;
    padding: 0px;
    height: 100%;
    position: relative;
}

.imgsignup .login-textab {
    width: 100%;
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    z-index: 1;
    padding: 0px 20px;
}
.imgsignup:after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.7);
}
.signup-text {
    width: 100%;
    float: left;
    background: #fff;
    padding: 25px 30px;
}
.signup-text p {
    font-size: 14px;
    color: #959595;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.pricing-section .pricing_plan_box .hoverpricing
{
	border:2px solid transparent;
	color:#fff;
	background:#33d085;
    transition:0.3s;	
}
.pricing-section .pricing_plan_box .hoverpricing:hover
{
	border:2px solid #33d085;
	color:#33d085;
	background:#fff;
    transition:0.3s;	
}




@media screen and (max-width:991px)and (min-width: 768px)
{
.login-img img {

    object-fit: cover;

}
label.custom-control-label {
    font-size: 14px;
}	
.login-text a {

    font-size: 13px;
}	
.loginsection {
    width: 100%;
    height: 100%;
    padding: 60px 0px;
}
.login-text a {
    color: #28e088;
    font-size: 13px;
}	
}
@media screen and (max-width: 767px)
{
	
.loginmodal .modal-body input {

    font-size: 12px;
    padding-right: 145px;
    padding-left:10px;

}	
.loginmodal .modal-body button {

    font-size: 11px;
    padding: 11px 4px;
}	
	
.stacked-image-carousel .imgnone
{
	display:none;
}	
	
.loginsection {
    height: 100%;
    padding: 100px 0px;
}	
	
.mobile-center {
	display:block;
    color: #28e088;
    font-size: 30px;
    font-weight: 700;
}	
.mobile-center a{
	display:block;
    color: #28e088;
    font-size: 30px;
    font-weight: 700;
}	



	
.paddingleft 
{
	display:none;
}	
	
		.paddingleft 
	{
		padding-left:0px;
	}
.login-textab ul a {
    padding: 5px 10px;
}
.login-textab p {

    font-size: 14px;
    padding: 0px 0px;
}

.login-textab h3 {

    font-size: 18px;
}	
	
}


.bg-white{
    background: #fff !important;
}
.heigh100{
    height: 100% !important;
}
