.files_upload
{
	height: 100px;
	width: 100px;
	color: red;
}
.view_img
{
	height: 100px;
	width: 100px;
	background: green;
	margin-left: 220px;
	margin-top: -50px;
	border-radius: 50%;
}
.upload_img
{
	margin-left: 350px;
	margin-top: -80px;
}
.target
{
	height: 100px;
	width: 100px;
	background: green;
	margin-left: 220px;
	margin-top: -50px;
	border-radius: 50%;
}